.App.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: #111;

    .tableCell {
      color: gray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #999;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #999;
        }
      }
    }
  }

  .datagrid {
    color: gray;
    border: none;
    border: 1px solid gray;

    .viewButton,
    .deleteButton,
    .cellWithStatus {
      color: gray;
      border: none;
    }
  }

  .MuiDataGrid-row--borderBottom,
  .MuiDataGrid-overlayWrapperInner {
    background-color: #111 !important;
    --unstable_DataGrid-overlayBackground: #111;
  }

  .MuiButtonBase-root,
  .MuiTablePagination-root,
  .MuiSvgIcon-root {
    color: gray;
  }

  input,
  select {
    background-color: transparent !important;
    color: gray;
  }
}
